.container {
  padding-inline: 5%;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.button {
  margin-top: 40px;
}
.details {
  margin-top: 20px;
}

.btn {
  width: 100%;
  border: none;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  padding: 10px;
  color: white;
}
.btn:active {  
  box-shadow: 2px 2px 0px rgb(0, 0, 0);
}

.add {
  background-color: rgb(20, 107, 158);
}
.remove {
  background-color: rgb(107, 129, 141);
}

.qty {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.qtyBtn {
  width: 25%;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.addQty {
  background-color: rgb(62, 124, 103);
}
.removeQty {
  background-color: rgb(111, 124, 138);
}

.qtyShow {
  width: 50%;
  text-align: center;
  padding-top: 5px;
}

.box {
  margin: 10px;
  padding: 15px;
  width: 150px;
  border: 2px solid black;
}

.box-item {
  display: block;
  margin-top: 5px;
}